{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<div class="row text-center bottom-space">
        <div class="btn-group">
        <p>Please select Machine:</p>
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-value="0">
                    Select a machine
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for machine in machines %}
                    <li><a href="#" data-value="{{ machine.serial_no }}">{{ machine.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
		<button type="button" class="btn btn-disabled" onclick="StartLiveView()" id="live_view_button">Connect</button>
	</div>
    </div>
    <div class="row bottom-space" id="DX_info_row">
		<div class="col-sm-4 text-center diagnostic_info" id="DX_machine_image">
            <img class="img-responsive center-block" alt="Bootstrap Image Preview" src="{{ url_for('static',filename='images/MIXER_UNKNOWN.png') }}"/>
		</div>
		<div class="col-sm-4 text-center diagnostic_info" id="DX_live_info">
			<h4 class="bottom-space">
				Live Diagnostic Values
			</h4>
            <h4> </h4>
            <div class="row" id="liveValues">
                <div class="col-xs-1"></div>
                <div class="col-xs-5  text-right">
                    <p><b>Current state:</b></p>
                    <p><b>Running time:</b></p>
                    <p><b>Motor current:</b></p>
                </div>

                <div class="col-xs-5 text-left">
                    <p class="text-muted" id="text_state"> Offline</p>
                    <p class="text-muted" id="text_runtime"> 00:00:00</p>
                    <p class="text-muted" id="text_motor_current"> 0 A</p>
                </div>
                <div class="col-xs-1"></div>
            </div>
		</div>
		<div class="col-sm-4 text-center diagnostic_info" id="DX_historic_info">
            <h4 class="bottom-space">
				Historic Performance
			</h4>
            <h4> </h4>
            <div class="row" id="HistoricValues">
                <div class="col-xs-1"></div>
                <div class="col-xs-5  text-right">
                    <p><b>Cycles #:</b></p>
                    <p><b>Total uptime:</b></p>
                    <p><b>Typ. current (A):</b></p>
                </div>
                <div class="col-xs-5 text-left">
                    <p class="text-muted" id="text_cycles">-1</p>
                    <p class="text-muted" id="text_uptime"></p>
                    <p class="text-muted" id="text_avg_motor_current"><b>TODO</b></p>
                </div>
                <div class="col-xs-1"></div>
            </div>
		</div>
    </div>
    <div class="row bottom-space" id="DX_footer_row">
        <div class="column">
            <p><b>Worker status   :</b><p class="text-muted" id="text_worker_state">worker is offline</p>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  .bottom-space {
     margin-bottom: 0.5cm;
  }
</style>
{% endblock %}



{% block scripts %}
{{ super() }}
    <script> document.write('<style>.diagnostic_info { visibility: hidden; } </style>'); </script>

<script type="text/javascript">
jQuery(document).ready(function(){
    //delay();
});

function fade_DX_delay(descriptor) {
    var secs = 300;
    setTimeout(function(){
        jQuery(descriptor).css("visibility","visible");
        jQuery(descriptor).css("display","none");
        jQuery(descriptor).fadeIn(1200);
    }, secs,descriptor);
}

function initFadeIn(param1) {
    jQuery(param1).css("visibility","visible");
    jQuery(param1).css("display","none");
    jQuery(param1).fadeIn(1200);
}
</script>
<script>
function textDisabled(item_id, state) {
    var item = document.getElementById(item_id);
    if (state==true){
        item.className = "text-muted"
    }else{
        item.className = "text"
    }
}
</script>
    <script>
    $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    fade_DX_delay("#DX_historic_info");
    //Theoretically do an ajax call here to obtain the relevant information of the machine in question
        var index = (document.getElementsByClassName("dropdown-toggle").length)-1;
        $.ajax({
            dataType: 'json',
            data: JSON.stringify({"serial_no":document.getElementsByClassName("dropdown-toggle")[index].value}),
            contentType: "application/json",
            type: 'POST',
            url: '/diagx/historic',
            success: function (data, status, request) {
                if ('Cycles' in data){
                    textDisabled("text_cycles",false);
                    $("#text_cycles").text(data.Cycles)
                }
                if (data.Uptime){
                    textDisabled("text_uptime",false);
                    $("#text_uptime").text(data.Uptime)
                }
                if ('AvgRunCurrent' in data){
                    textDisabled("text_uptime",false);
                    $("text_avg_motor_current").text(data['AvgRunCurrent'])
                }
                if (data.State){
                    fade_DX_delay("#DX_live_info");
                    textDisabled("text_state",true);
                    $("#text_state").text("Offline");
                    var image = document.images[0];
                    var download_image = new Image();
                    download_image.onload = function(){
                        image.src = this.src;
                    };
                    download_image.src =  "{{ url_for('static',filename='images/MIXER_OFFLINE.png') }}";
                    fade_DX_delay("#DX_machine_image")
                }
                if ('worker_state' in data){
                    $("#text_worker_state").text(data['worker_state']);
                }
            },
            error: function () {
                alert('ERROR: AJAX retrieving historic info!');
            }
        });


}   );
    </script>
<script>
function StartLiveView(){
    var index = (document.getElementsByClassName("dropdown-toggle").length)-1;
    if (document.getElementsByClassName("dropdown-toggle")[index].value == 0){
        alert('Please select a machine!')
    }else{

        $.ajax({
            datatype: 'json',
            data: JSON.stringify({
                "serial":document.getElementsByClassName("dropdown-toggle")[index].value,
                "action":$("#live_view_button").html()
            }),
            contentType: "application/json",
            type: 'POST',
            url: '/diagx/start',
            success: function (data, status, request) {
                status_url = request.getResponseHeader('Location');
                $("#live_view_button").html("Disconnect");
                if (status == "success") {
                    UpdateUI(status_url);
                }
                if (status == "nocontent"){
                    $("#live_view_button").html("Connect");
                }

            },
            error: function () {
                alert('Unexpected error in AJAX call!');
            }
        });
    }
}

function UpdateUI(status_URL){
    //Since this function needs to poll the URL at which the celery worker is reporting, a .getJSON call is used
    $.getJSON(status_URL,JSON.stringify({}),function(data){
        if ('state' in data){
            textDisabled("text_state",false);
            $("#text_state").text(data['state']);
            if (data['state']==="Stopped"){
                var image = document.images[0];
                var download_image = new Image();
                download_image.onload = function(){image.src = this.src;};
                download_image.src =  "{{ url_for('static',filename='images/MIXER_OFF.png') }}";
            }else if (data['state'] === "Running"){
                var image = document.images[0];
                var download_image = new Image();
                download_image.onload = function(){image.src = this.src;};
                download_image.src =  "{{ url_for('static',filename='images/MIXER_RUNNING.gif') }}";
            }else if (data['state'] === "Starting") {
                var image = document.images[0];
                var download_image = new Image();
                download_image.onload = function(){image.src = this.src;};
                download_image.src =  "{{ url_for('static',filename='images/MIXER_STARTING.png') }}";
            }
        }
        if ('total_run_time' in data){
            $("#text_uptime").text(data['total_run_time'])
        }
        if ('current_run_time' in data){
            $("#text_runtime").text(data['current_run_time'])
        }
        if ('cycles' in data){
            textDisabled("text_cycles",false);
            $("#text_cycles").text(data['cycles'])
        }
        if ('motor_current' in data){
            textDisabled("text_motor_current",false);
            $("#text_motor_current").text(data['motor_current'])
        }
        if ('average_current' in data){
            textDisabled("text_state",false);
        }
        if ('worker_state' in data){
            $("#text_worker_state").text(data['worker_state']);
        }
        if ((data['state'] !== 'Offline') && ($("#live_view_button").text()=="Disconnect")) {
            setTimeout(function () {
                UpdateUI(status_URL);
            }, 1000);
        }else{
            //Worker has terminated, mark machine as Offline
            $("#text_state").text("Offline");
            var image = document.images[0];
            var download_image = new Image();
            download_image.onload = function(){
                image.src = this.src;
            };
            download_image.src =  "{{ url_for('static',filename='images/MIXER_OFFLINE.png') }}";
            if ('worker_state' in data){
                $("#text_worker_state").text(data['worker_state']);
            }
        }
    });
}
</script>
<script src="{{ url_for('static',filename="js/jquery.blockUI.js")}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
       //$("#row_info").block({message:null});
    });
</script>
{% endblock %}