{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}

{% block navbar_left %}
    <li><a href="{{ url_for('main.dashboard') }}">Home</a></li>
    <li class="dropdown {% if machine['menu'] == False %} disabled{% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Machines<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Proto Tester</a></li>
            <li><a href="#">Chinese Office</a></li>
            <li><a href="#">CGR HQ Demo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('auth.register') }}">Register new user</a></li>
            <li class="disabled"><a href="#">Delete existing user</a></li>
        </ul>
    </li>

{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {{ current_user.name }}</h1>
    <p>You logged in at {{ moment(current_time).format('LLLL') }}.</p>
</div>
{% endblock %}
